:host {
    position: relative;
    display: grid;
    background-color: #5876aa;
}

.quarter {
    display: flex;
    color: white;
    padding: 0 20px;
    height: 40px;
    align-items: center;
    border-top: 1px solid darkgrey;

    .add-range {
        margin-left: 30px;
        display: none;
    }

    &:hover {
        .add-range {
            display: block;
        }   
    }


}

.hour {
    font-weight: 600;
    border-top: 1px solid lightgrey;
}

.start {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darkgoldenrod;
    text-transform: uppercase;
    width: 200px;
    height: 40px;
    text-align: center;
    margin: 0 auto;
    left: 0;
    right: 0;
    border-radius: 10px;
    cursor: pointer;
    z-index: 1;
    border: 1px solid darkorange
}

.range {
    position: absolute;
    display: grid;
    width: 250px;
    margin: 0 auto;
    left: 0;
    right: 0;
    background-color: darkgoldenrod;
    align-items: center;
    cursor: move;

    .anchor {
        height: 5px;
        width: 100%;
        background-color: red;
        position: absolute;
        bottom: 0;
        cursor: ns-resize;
    }

}

.range-content {
    transform: rotate(-90deg)
}


.mat-icon {
    cursor: pointer;
}

