<div fxLayout="row">
    <button mat-raised-button (click)="createNewClick()">Create New Item</button>
    <mat-spinner *ngIf="isCreating$ | async" [diameter]="40" style="margin-left: 25px;"></mat-spinner>
</div>
<br/>

<mat-paginator [length]="length$ async"
              [pageSize]="pageSize"
              (page)="pageEvent = $event">
</mat-paginator>


<div fxLayout="row" fxLayoutAlign="space-between center"class="labels"  style="font-weight: 600;">
  <div>Date</div>
  <div>Start</div>
  <div>End</div>
  <div>Duration</div>
  <div>&nbsp;</div>
</div>

<mat-list>
  <time-entry *ngFor="let i of entries$ | async"
              mat-list-item
              [routerLink]="i.id"
              [item]="i"
              (delete)="deleteClick(i)"></time-entry>
</mat-list>

<!-- <time-entry-detail *ngIf="selectedItem"
                   [item]="selectedItem"
                   (update)="updateClick($event)"></time-entry-detail> -->

