<h2>Time Entry Details: </h2>

<div fxLayout="row">
    <label fxFlex="10">Day:</label>
    <span>{{item?.day | date}}</span>
</div>

<div fxLayout="row">
    <label fxFlex="10">Start:</label>
    <input type="time" [value]="start" disabled/>
    <button mat-icon-button (click)="selectStart()">
      <mat-icon>access_time</mat-icon>
    </button>


</div>

<div fxLayout="row">
    <label fxFlex="10">End:</label>
    <input type="time" [value]="end" disabled/>
    <button mat-icon-button (click)="selectEnd()">
      <mat-icon>access_time</mat-icon>
    </button>
</div>


<div style="width: 0; height: 0">
    <button mat-icon-button [ngxTimepicker]="fullTime" [format]="24"></button>
    <ngx-material-timepicker #fullTime></ngx-material-timepicker>
</div>