<h2>Time Entry Details: </h2>

<div fxLayout="row">
    <label fxFlex="10">Day:</label>
    <span>{{item?.start | date}}</span>
</div>

<div fxLayout="row">
    <label fxFlex="10">Start:</label>
    <input type="time" [value]="start" disabled/>
    <button mat-icon-button [ngxTimepicker]="fullTime" [format]="24">
      <mat-icon>access_time</mat-icon>
    </button>

    <!-- <input placeholder="24hr format" aria-label="24hr format" [ngxTimepicker]="fullTime" [format]="24"  readonly> -->

    <ngx-material-timepicker #fullTime (closed)="timePickerClosed()"></ngx-material-timepicker>

</div>

<div fxLayout="row">
    <label fxFlex="10">End:</label>
    <input type="time" [value]="end" disabled/>
    <button mat-icon-button (click)="selectEnd()">
        <mat-icon>access_time</mat-icon>
      </button>
</div>

<form (ngSubmit)="onSubmit()">
  <!-- <div>
      <label>Start</label>
      <input type="text"  [(ngModel)]="item.start" name="start">
  </div>
  <div>
      <label>End</label>
      <input type="text"  [(ngModel)]="item.end" name="end">
  </div> -->

  <!-- <button type="submit">Update</button> -->
</form>


